{% extends 'base_code.html' %}
{%block contenu%}
<div class="content-section">
    <form method="POST" action="">
        {{ form.hidden_tag() }}
        <fieldset class='form-group'>
            <legend class="border-bottom mb-4">Connexion</legend>
            <div class='from-group'>
               {{ form.email.label(class='form-control-label') }}
                 {% if form.email.errors %}
                 {{ form.email(class='form-control form-control-lg is-invalid') }}
                    {% for erreur in form.email.errors %}
                 <div class='invalid-feedback'>
                     <span>{{erreur}} </span>
                     {%endfor%}
                 </div>
                 {%else %}
                 {{ form.email(class='form-control form-control-lg') }}
                 {% endif %}
            </div>
            <div class='from-group'>
                 {{ form.password.label(class='form-control-label') }}
                 {% if form.password.errors %}
                 {{ form.password(class='form-control form-control-lg is-invalid') }}
                     {% for erreur in form.password.errors %}
                 <div class='invalid-feedback'>
                     <span>{{erreur}} </span>
                     {%endfor%}
                 </div>
                 {%else %}
                 {{ form.password(class='form-control form-control-lg') }}
                 {%endif%}
            </div>
            <br>
            <div class ='form-check'>
                {{ form.remember(class='form-check-input')}}
                {{ form.remember.label(class='form-check-label')}}
            </div>
        </fieldset>
        <br>
        <div class='form-group'>
            {{form.submit(class='btn btn-outline-info')}}
        </div>
        <small class="text-muted">
            <a href="#"> mot de pass oublier</a>
        </small>
    </form>
</div>
<div>
    <div class='border-top pt-3'>
        <small class='text-muted'>
            S'inscrire ? <a class="ml-2" href="{{ url_for ('inscription') }}"> Inscription </a>
        </small>
    </div>
</div>
{%endblock%}